.textArea {
  width: 100%;
  min-height: 10px;
  max-height: 150px;
  resize: vertical;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  font-size: 0.8rem;
  font-family: math, Arial, sans-serif;
}
