
@import '../SASS/MixinGlobal.module.scss';

.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.containerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  background: black;
}

.containerImage {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.image {
  width: 10rem;
}

.viewsPages {
  display: flex;
  align-items: center;
}



