@import "../SASS/MixinGlobal.module.scss";

.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.containerRightVisible{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70vw;
  height: 100vh;
  overflow: hidden;

  @media only screen and ( max-width : 800px) {
    
    min-width: 100vw;
  }
}

.containerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  background: linear-gradient(
    270deg,
    rgba(245, 132, 60, 1) 0%,
    rgba(215, 57, 122, 1) 55%,
    rgba(89, 89, 206, 1) 100%
  );
}

.containerImage {
  display: flex;
  align-items: center;
  padding-left: 5px;
  border-radius: 5px;
  border: solid white 2px;
  cursor: pointer;
}

.image {
  width: 10rem;
}

.viewsPages {
  display: flex;
  align-items: center;
  justify-content: center;
}
