.containerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
}

.subContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.containerh1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: inherit;
  height: 90%;
  padding: 5px;

  @media only screen and (max-width: 300px) {
    width: 90vw;
  }
}

.h1Main {
  margin: 0.5rem;
  color: white;
}

.parrafoMain {
  background: rgba(0, 0, 0, 0.664);
  color: white;
  padding: 5px;
  font-size: 0.9rem;
  border-radius: 5px;
}

.containerEmail {
  display: flex;
  justify-content: center;
}

.containerNoneDisplay {
  display: none;
}
