.containerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
}

.containerh1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: inherit;
  height: 90%;
  padding: 5px;
}

.h1Main {
  margin: 0.5rem;
  color: white;
}

.parrafoMain {
    background: rgba(0, 0, 0, 0.664);
    padding: 5px;
  font-size: 0.9rem;
  border-radius: 5px;
}
