.containerMain {
  height: 100vh;
  padding-top: 2.5rem;
}

.subContainer {
  display: flex;
  align-items: center;
  height: 100vh;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.tshirt {
  width: 18%;
  transition: width 1s;

  &.tshirt:hover {
    width: 20%;
    border: solid 1px white;
    border-radius: 20px;
    background: rgba(128, 128, 128, 0.203);
  }
  @media only screen and (max-width: 900px) {
    width: 60vw;

    &.tshirt:hover {
      width: 65vw;
      border: solid 1px white;
      background: rgba(128, 128, 128, 0.203);
    }
  }
}
