.containerLanding {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 1s;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 3;
  overflow: hidden;
}

