
.containerButton{
  margin-top: 1rem;
}

.buttonEnviar {
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  font-size: 1rem;
  background: rgb(0, 81, 255);
  cursor: pointer;
  border: none;
  color: white;
  font-family: sans-serif;
  margin-bottom: 1rem;

  &.button:hover {
    border: 1px solid rgb(255, 255, 255);
  }
}

.buttonBack {
  margin-left: 5px;
  position: absolute;
  top: 5vh;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  padding: 0.5rem 1rem;
  background: black;
  color: aliceblue;
  border-radius: 5px;

  &.buttonBack:hover {
    border: 1px solid white;
  }
}

.openContainerInside {
  border-radius: 2rem;
  font-family:  "Trebuchet MS", sans-serif;
  padding: 0.5rem 1rem;
  background: rgb(0, 241, 12);

  &.openContainerInside:hover {
    border: solid white 1px;
    color: rgb(30, 0, 255);
  }
}

.buttonSaber {
  padding: 0.5rem 1.5rem;
  border: solid white 2px;
  background: rgba(0, 0, 0, 0.716);
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: black;
    border: none;
  }
}

.buttonCerrar {
  padding: 0.5rem 1rem;
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background: black;
    border: none;
  }
}
