.button{
    padding: 0.5rem 2.5rem;
    border-radius: 10px;
    font-size: 1rem;
    background: rgb(0, 81, 255);
    cursor: pointer;
    border: none;
    color: white;
    font-family:  sans-serif;
    margin-bottom: 1rem;

    &.button:hover{
        border: 1px solid rgb(255, 255, 255);;
    }
}



.buttonBack{
    margin-left: 5px;
position: absolute;
top: 5vh;
font-size: 1rem;
font-family: 'Courier New', Courier, monospace;
padding: 0.5rem 1rem;
background: black;
color: aliceblue;
border-radius: 5px;

&.buttonBack:hover{
    border: 1px solid white;
}
    
}