.links {
  margin-right: 2rem;
  text-decoration: none;
  color: white;
  font-family: cursive;

  &.links:hover {
    color: green;
  }

  @media only screen and (max-width: 980px) {
    display: none;
  }
}
